# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
ontochain-demo-client/node_modules
ontochain-demo-server/node_modules
ontochain-demo-shared-types/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
ontochain-demo-client/yarn.lock
ontochain-demo-server/yarn.lock
ontochain-demo-shared-types/yarn.lock
yarn.lock

.idea

